body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3f3f3f;
  background-color: #f7f1ea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.draft-board-wrapper {
  position: absolute;
  top: 20%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 1000;
  min-width: 100vw;
  /* min-height: 100vh; */
}

.close-button-container {
  position: absolute;
  top: 0;
  right: 90px;
  z-index: 100;
}

.close-draft-board-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 2px 6px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.close-draft-board-button:hover {
  background-color: #5e5e5e;
}

.draft-board-container {
  width: 85%;
  margin-top: 8px;
  background-color: white;
  z-index: 10;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: auto;
  max-height: 500px;
}

.draft-board-table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}

.draft-board-table th,
.draft-board-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.draft-board-table td {
  position: relative;
  background-color: #fafafa;
}

.draft-board-card {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: white;
  border: 1px solid #ddd;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.sleeper-draft-header{
  display: flex; flex-direction: row !important; gap: 2em; flex-wrap: wrap;
}

.slot-name {
  margin-right: 5px;
}

.pick-number {
  text-align: right;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: .8em;
}

.player-info {
  display: flex;
  flex-direction: column;
}

.player-name {
  font-weight: bold;
  /* font-size: .8em; */
}

.player-team-position {
  font-size: .7em;
  color: #464646;
}

.draft-cell {
  cursor: pointer;
  text-align: left;
  position: relative;
  padding: 1rem !important;
}

.sleeper-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.team-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list {
  margin: 12px;
  display: flex;
  flex-direction: row;
}

.user-list button {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.user-list button.selected {
  background-color: #5e72e4;
  color: #fff;
  font-weight: bold;
}

.user-list button:hover:not(.selected) {
  background-color: #e9e9e9;
}

.user-roster {
  width: 100%;
  display: flex;
  justify-content: center;
}

.roster-table {
  width: 50%;
  border-collapse: collapse;
}

.roster-table th, .roster-table td {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: center;
}

.roster-table th {
  background-color: #f4f4f4;
}

.totals-row {
  font-weight: bold;
  background-color: #f4f4f4;
}

.totals-label {
  text-align: right;
}

/* Common styles for the live updates button */
.live-updates-button {
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin-right: 10px; /* Right margin */
  color: white; /* Text color for visibility */
}

/* Green background for starting live updates */
.live-updates-button.start-updates {
  background-color: #28a745; /* Green color */
}

/* Red background for stopping live updates */
.live-updates-button.stop-updates {
  background-color: #dc3545; /* Red color */
}

/* draft board and team view buttons active styling */
.toggle-draft-board-button, .toggle-team-view-button {
  background-color: #e9e9e9;
  color: #6e6e6e;
  border: 1px solid #8b8b8b;
  margin: 2px;
}

.toggle-draft-board-button:hover, .toggle-team-view-button:hover,
.active
{
  background-color: #757575;
  color: white;
  border: 1px solid rgb(134, 134, 134);
  font-weight: bold;
}

.toggle-team-view-button:disabled {
  background-color: #c3c3c3;
  color: #979797;
  cursor: default;
}

.toggle-team-view-button:disabled:hover {
  background-color: #c3c3c3;
  color: #979797;
  font-weight: normal;
}

.sleeper-home-button {
    background-color: #f7f1ea;
    margin: 12px;
    border: 3px solid #3f3f3f;
    color: #3f3f3f;
    padding: 8px 16px;
    font-weight: bold;
}

.sleeper-home-button:hover {
  background-color: #f7dbbc;
}

.available-players-container {
  margin-left: 5rem;
}

.disabled-message {
  margin-top: 5px;
  font-size: 14px;
  color: red;
}

.table-center {
  margin: 0 auto;
  border-collapse: collapse;
  width: 30%;
}

.table-center th,
.table-center td {
  text-align: center;
}

.table-center th {
  font-weight: bold;
}
